<!-- use customB1 with custom-homepage css -->
<div id="homepage">

  
  <!-- script src="assets/jssor.slider-28.1.0.min.js" type="text/javascript"></script -->
  <script>
        window.jssor_1_slider_init = function() {

            var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,ls:0.5},{b:0,d:1000,y:5,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:200,d:1000,y:25,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:400,d:1000,y:45,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:600,d:1000,y:65,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:800,d:1000,y:85,e:{y:6}}],
              [{b:-1,d:1,ls:0.5},{b:500,d:1000,y:195,e:{y:6}}],
              [{b:0,d:2000,y:30,e:{y:3}}],
              [{b:-1,d:1,rY:-15,tZ:100},{b:0,d:1500,y:30,o:1,e:{y:3}}],
              [{b:-1,d:1,rY:-15,tZ:-100},{b:0,d:1500,y:100,o:0.8,e:{y:3}}],
              [{b:500,d:1500,o:1}],
              [{b:0,d:1000,y:380,e:{y:6}}],
              [{b:300,d:1000,x:80,e:{x:6}}],
              [{b:300,d:1000,x:330,e:{x:6}}],
              [{b:-1,d:1,r:-110,sX:5,sY:5},{b:0,d:2000,o:1,r:-20,sX:1,sY:1,e:{o:6,r:6,sX:6,sY:6}}],
              [{b:0,d:600,x:150,o:0.5,e:{x:6}}],
              [{b:0,d:600,x:1140,o:0.6,e:{x:6}}],
              [{b:-1,d:1,sX:5,sY:5},{b:600,d:600,o:1,sX:1,sY:1,e:{sX:3,sY:3}}]
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $Idle: 10000, /* slide display time */
              $LazyLoading: 1,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 20,
                $SpacingY: 20
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 1600;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>

  <div id="homeGallery" class="col-xs-12">
    <div id="home-header" class="col-xs-12">
      <h1>Digital Collections</h1>
      <h2>Historic photographs, newspapers, books, and more from the University of Louisville's rare collections.</h2>
    </div>

    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:840px;height:350px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
      <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:840px;height:350px;overflow:hidden;">
        
        <div>
          <a href="/concern/images/ulpa_1986_090_2082?locale=en">
            <%= image_tag("840x350_1986_090_2082.jpg", alt: "flood", style: "opacity:0.9;", data: { u: "image" }) %>
            <svg viewbox="-600 0 1000 72" data-to="100% 100%" width="1000" height="72" data-t="12" 
             style="left:2300px;top:460px;display:block;position:absolute;font-family:'Open Sans',sans-serif;font-size:1rem;font-weight:900;overflow:visible;">
            </svg>
            <div class="caption">1913 Flood (ULPA 1986_090_2082)</div>
          </a>
        </div>

          <div>
          <a href="/concern/images/ulpa_1998_009_406?locale=en">
            <%= image_tag("840x350_1998_009_406_p.jpg", alt: "Sales building", style: "opacity:0.9;", data: { u: "image" }) %>
            <svg viewbox="-600 0 1000 72" data-to="100% 100%" width="1000" height="72" data-t="12" 
             style="left:2300px;top:460px;display:block;position:absolute;font-family:'Open Sans',sans-serif;font-size:1rem;font-weight:900;overflow:visible;">
            </svg>
            <div class="caption">Sales Building (ULPA 1998_009_406)</div>
          </a>
        </div>

          <div>
          <a href="/concern/images/ulpa_1979_033_0035?locale=en">
            <%= image_tag("840x350_1979_033_0035_n.jpg", alt: "visit", style: "opacity:0.9;", data: { u: "image" }) %>
            <svg viewbox="-600 0 1000 72" data-to="100% 100%" width="1000" height="72" data-t="12" 
             style="left:2300px;top:460px;display:block;position:absolute;font-family:'Open Sans',sans-serif;font-size:1rem;font-weight:900;overflow:visible;">
            </svg>
            <div class="caption">Hatfields and McCoys (ULPA 1979_033_0035)</div>
          </a>
        </div>
        <div>
          <a href="/concern/images/ulua_2006_003_008_024?locale=en">
            <%= image_tag("840x350_2006_003_008_024.jpg", alt: "locks", style: "opacity:0.9;", data: { u: "image" }) %>
            <svg viewbox="-600 0 1000 72" data-to="100% 100%" width="1000" height="72" data-t="12" 
             style="left:2300px;top:460px;display:block;position:absolute;font-family:'Open Sans',sans-serif;font-size:1rem;font-weight:900;overflow:visible;">
            </svg>
            <div class="caption">Canal Locks (ULUA 2006_003_008_024)</div>
          </a>
        </div>

        
      </div>
        <!-- Bullet Navigator -->
      <div data-u="navigator" class="jssorb132" style="position:absolute;bottom:10px;right:16px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:12px;height:12px;">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
          </svg>
        </div>
      </div>

    </div>
    <script>jssor_1_slider_init();
    </script>
  </div><!-- homeGallery -->


  <div id="highlights">

    <div id="featured">
              <h2>Featured Topics</h2>

              <div class="s-card col-md-3" id="cards">
                <div class="content">

                  <div class="s-card col-md-3" id="card-1">
                    <a href="/?f%5Bcity_sim%5D%5B%5D=Louisville+%28Ky.%29&f%5Bmedia_type_sim%5D%5B%5D=Still+Image&locale=en" class="inner">
                      <div class="card-media-wrapper">
                        <div class="card-image">
                          <%= image_tag("cards-ULPA1998-09-210.png", alt: "downtown buildings") %>
                        </div>
                      </div>
  
                      <div class="card-text-wrapper">
                        <h3>Louisville Images</h3>
                      </div>
                    </a>
                  </div>
          
          
                   <div class="s-card col-md-3" id="card-3">
                      <a href="/?f%5Bcity_sim%5D%5B%5D=Louisville+%28Ky.%29&f%5Bresource_type_sim%5D%5B%5D=Maps&locale=en" class="inner">
                        <div class="card-media-wrapper">
                          <div class="card-image">
                            <%= image_tag("cards-maps-1884-plate1.png", alt: "map") %>
                          </div>
                        </div>
                        <div class="card-text-wrapper">
                          <h3>Louisville Maps</h3>
                        </div>
                      </a>
                    </div>
          
                   <div class="s-card col-md-3" id="card-2">
                      <a href="/catalog?subject=%22University+of+Louisville%22&search_field=advanced&commit=Search
" class="inner">
                        <div class="card-media-wrapper">
                          <div class="card-image">
                            <%= image_tag("cards-ULUA-001-0349.jpg", alt: "UofL Football players") %>
                          </div>
                        </div>
                        <div class="card-text-wrapper">
                          <h3>University of Louisville</h3>
                        </div>
                      </a>
                    </div>

                    <div class="s-card col-md-3" id="card-4">
                      <a href="https:/catalog/?f%5Bmember_of_collections_ssim%5D%5B%5D=Illuminated+Manuscript+Collections&locale=en" class="inner">
                        <div class="card-media-wrapper">
                          <div class="card-image"> 
                            <%= image_tag("cards-illuminated-ULRB-2006.mss.05.png", alt: "book of hours") %>
                          </div>
                        </div>
                        <div class="card-text-wrapper">
                          <h3>Illuminated Manuscripts</h3>
                        </div> 
                      </a> 
                    </div> 
          
                    <div class="s-card col-md-3" id="card-5">
                      <a href="/catalog?f%5Bresource_type_sim%5D%5B%5D=Newspapers&locale=en" class="inner">
                        <div class="card-media-wrapper">
                          <div class="card-image"> 
                            <%= image_tag("cards-Leader_19250509_1.jpg", alt: "Louisville Leader") %>
                          </div>
                        </div>
                        <div class="card-text-wrapper">
                          <h3>Newspapers</h3>
                        </div> 
                      </a> 
                    </div> 
          
                   <div class="s-card col-md-3" id="card-6">
                     <a href="/catalog?f%5Bresource_type_sim%5D%5B%5D=School+yearbooks&locale=en" class="inner">
                        <div class="card-media-wrapper">
                          <div class="card-image"> 
                            <%= image_tag("cards-yearbook-1974-p188.jpg", alt: "yearbook") %>
                          </div>
                        </div>
                        <div class="card-text-wrapper">
                          <h3>Yearbooks</h3>
                        </div> 
                      </a> 
                  </div> 
                </div> 
            </div>
  
          </div>
 


    <div id="repositories">
            <h2>Repositories</h2>

            <div class="s-card col-md-3" id="r-cards">
              <div class="content">

                <div id="card-photoarc" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Photographic+Archives&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("512x385_1979_033_0460_nt.jpg", alt: "Charity", data: { u: "image" }) %> 
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>ASC Photographic Archives</h3>
                </div> 
              </a> 
            </div>
                    

                <div id="card-rare" class="s-card col-md-3" >
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Rare+Books&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("512x385_2006_mss_08v.png", alt: "manuscript", data: { u: "image" }) %> 
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>ASC Rare Books</h3>
                </div> 
              </a> 
            </div> 
          
                <div id="card-uarc" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Archives+and+Records+Center&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("512x385_2006_003_008_019.jpg", alt: "Reservoir", data: { u: "image" }) %>
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>ASC University Archives and Records Center</h3>
                </div> 
              </a> 
            </div>
                
                <div id="card-bridwell" class="s-card col-md-3">
                <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Margaret+M.+Bridwell+Art+Library&locale=en" class="inner">
                  <div class="card-media-wrapper">
                    <div class="card-image">
                      <%= image_tag("512x385_ABI_Sgantas_02_E.jpg", alt: "artist book", data: { u: "image" }) %>
                    </div>
                  </div>
                  <div class="card-text-wrapper">
                    <h3>Bridwell Art Library</h3>
                  </div>
                </a>
              </div>

  <div id="card-music" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Dwight+Anderson+Music+Library&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("cards-music-guestbook-p18.png", alt: "guest book", data: { u: "image" }) %> 
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>Dwight Anderson Music Library</h3>
                </div>
              </a>
            </div>
          
                
  
    <div id="card-hite" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Hite+Institute+of+Art+and+Design&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("cards-Hite-Y23N3-LouBlock-1.png", alt: "Hite catalog", data: { u: "image" }) %> 
                  </div>
                </div>
  
                <div class="card-text-wrapper">
                  <h3>Hite Institute of Art and Design</h3>
                </div>
              </a>
            </div>

    
                <div id="card-korn" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=University+of+Louisville+Kornhauser+Health+Sciences+Library&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("cards-ULHL-Nursing03.png", alt: "student nurses", data: { u: "image" }) %> 
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>Kornhauser Health Sciences Library</h3>
                </div> 
              </a> 
            </div> 
          
                <div id="card-law" class="s-card col-md-3">
              <a href="/catalog?utf8=?&f%5Bpublisher_sim%5D%5B%5D=Law+Library+of+the+Louis+D.+Brandeis+School+of+Law%2C+University+of+Louisville&locale=en" class="inner">
                <div class="card-media-wrapper">
                  <div class="card-image">
                    <%= image_tag("512x385_s_sharp.jpg", alt: "Solomon P. Sharp", data: { u: "image" }) %> 
                  </div>
                </div>
                <div class="card-text-wrapper">
                  <h3>Law Library of the Louis D. Brandeis School of Law</h3>
                </div> 
              </a> 
            </div> 
          
  
              
              </div> 
            </div>
  
          </div>  
 
  </div>
</div>